<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Curso BOOTSTRAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/estilo.css" rel="stylesheet" media="screen">
        </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Drop Down</h1>
                    <div class="dropdowm">
                        <button class="btn btn-default dropdown-toggle" type="button" id="id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Menu DropDown<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labeledby="id">
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h1>Button Groups</h1>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Teste</button>
                        <button type="button" class="btn btn-primary">Teste</button>
                        <button type="button" class="btn btn-primary">Teste</button>
                        <button type="button" class="btn btn-primary">Teste</button>
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Menu DropDown<span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="id01" data-toggle="dropdown">Menu DropDown<span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labeledby="id01">
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                            <li role="presentation"><a href="#" role="menuitem">Teste</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="js/jquery-3.1.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        
    </body>
</html>